@import "tailwindcss";
@theme {
    --color-sand: #DAD4C8;
    --color-dark-sand:#BDB7AC;
    --color-myblack: #2B2B2B;
    --color-mywhite: #EEEEEE;
    --color-turquoise: #446163;
    --font-sans: "Spartan", "sans-serif";
}
@media (hover: hover) {
    /* Alle Hover-Effekte, die du auf mobilen Geräten haben möchtest */
    .hover\:bg-turquoise:hover {
        background-color: #EEEEEE; /* Deine türkise Farbe */
    }
}
